<%= render "partials/elements/google" %>
<div class="mdl-grid big-margin">
  <div class="mdl-cell--6-col mdl-cell--middles white center">    
  	<h2 class="grey-text center-text marine small-padding">Editar publicación</h2>
  	<div class="center padding">
  	  <%= render 'form', ad: @ad %>
    </div>
  </div>
</div>
<%= render "partials/elements/google" %>
