<footer class="mdl-mega-footer marine white-text">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Acerca de:</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Empleados</a></li>
        <li><a href="#">Socios</a></li>
        <li><a href="#">Desbloquear cuenta</a></li>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Categorias</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Premiun</a></li>
        <li><a href="#">Top</a></li>
        <li><a href="#">Populares</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Caracteristicas</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Economicos</a></li>
        <li><a href="#">Usados</a></li>
        <li><a href="#">Nuevos</a></li>
        <li><a href="#">Mayor costo</a></li>
        <li><a href="#">Vendidos</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Contactó</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Preguntas</a></li>
        <li><a href="#">Dudas</a></li>
        <li><a href="#">Contactenos</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo grey-text bold-text">Quevedo Elctrónico</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="#">Ayuda</a></li>
      <li><a href="#">Terminos y condiciones</a></li>
    </ul>
  </div>

</footer>