<div class="android-wear-band center-text marine">
  <div class="android-wear-band-text">
    <p class="mdl-typography--headline mdl-typography--font-thin grey-text">
      Dale click en el anuncio de abajo para seguir alojando este servicio de descarga y para que los demas estudiantes tengan este link disponible.
    </p>
  </div>
</div>
<%= render "partials/elements/google" %>
<%= render "partials/elements/encuesta" %>
<div class="android-wear-band center-text marine">
  <div class="android-wear-band-text">
    <p class="mdl-typography--headline mdl-typography--font-thin grey-text">
      Dale click en el anuncio de abajo para seguir alojando este servicio de descarga y para que los demas estudiantes tengan este link disponible.
    </p>
  </div>
</div>
<%= render "partials/elements/google" %>