<div class="android-wear-band center-text marine medium-padding">
  <div class="android-wear-band-text">
    <div class="mdl-typography--display-2 mdl-typography--font-thin botton-padding"><%= link_to "Publicaciones de mayor precio", caros_path, class:"pink-text" %> <i class="material-icons white-text">backup</i></div>
    <p class="mdl-typography--headline mdl-typography--font-thin grey-text">
      En esta sección encontraras todas las publicaciones de mayor valor economico.
    </p>
  </div>
</div>
