<div class="android-wear-band center-text marine medium-padding">
  <div class="android-wear-band-text">
    <div class="mdl-typography--display-2 mdl-typography--font-thin botton-padding"><i class="material-icons white-text">publish</i> <%= link_to "Publicar!", new_ad_path, class:"pink-text" %> <i class="material-icons white-text">publish</i></div>
    <p class="mdl-typography--headline mdl-typography--font-thin white-text">
      Bienvenido! a Quevedo Electrónico clasificados de celulares, tablets y smartphones.
    </p>
  </div>
</div>
