<div class="android-wear-band center-text marine medium-padding">
  <div class="android-wear-band-text">
    <div class="mdl-typography--display-2 mdl-typography--font-thin pink-text botton-padding">Publicaciones de celulares usados <i class="material-icons white-text">todo</i></div>
    <p class="mdl-typography--headline mdl-typography--font-thin grey-text">
      En esta sección encontraras todas las publicaciones de celulares que ya han sido usados.
    </p>
  </div>
</div>