<div class="android-wear-band center-text marine medium-padding">
  <div class="android-wear-band-text">
    <p class="mdl-typography--headline mdl-typography--font-thin grey-text">
      Descarga la encuesta socioeconomica para completar la inscripción del senescyt.
    </p>
    <p class="mdl-typography--headline mdl-typography--font-thin white-text">
      Me ayudarias mucho si le das un click a los anuncios de google para seguir alojando este sitio web y archivo de encuesta socioeconomica muchas gracias.
    </p>
    <p class="mdl-typography--headline mdl-typography--font-thin grey-text">
      Paso 1 - Darle click en Descargar.
    </p>
    <p class="mdl-typography--headline mdl-typography--font-thin grey-text">
      Paso 2 - Darle click en el anuncio de arriba o abajo.
    </p>
    <p class="mdl-typography--headline mdl-typography--font-thin pink-text">
      Gracias por darle click en el anuncio. Felicitaciones!!! ayudaste a seguir alojando este servicio de descarga.
    </p>
    <div class="mdl-typography--display-2 mdl-typography--font-thin"><i class="material-icons white-text">file_download</i> <%= link_to "Descargar", "/data/SNNA - ENCUESTA.exe", class:"pink-text" %> <i class="material-icons white-text">file_download</i></div>
  </div>
</div>
