<div class="android-wear-band">
  <div class="android-wear-band-text" align="center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- all_website -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-3259870721197682"
	     data-ad-slot="1431273853"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
  </div>
</div>
