/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.left {
	text-align: left;
}

.mdl-card__supporting-text {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.demo-card-wide {
	background-color:  rgba(0,0,0,.03);
}

.demo-card-wide > .mdl-card__title {
	height: 200px;
	background-position: center;
} 

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/* colors for the texts */
.white-text {
	color: #fff !important;
}

.black-text {
	color: #000;
}

.pink-text {
	color: #FF4081 !important;
}

.grey-text {
	color: #64FFDA;
}

.marine-text {
	color: #37474F;
}

/* text decorations */
.bold-text {
	font-weight: bold;
}

.thin-text {
	font-weight: thin;
}

.center-text {
	text-align: center;
}

/* fonts size */
.medium-text {
	font-size: 1.3em !important;
}

/* colors */
.gold {
	background-color: #FFD700;
}

.black {
	background-color: #000;
}

.black-fondo {
	background-color: rgba(0,0,0,.04);
}

.white {
	background-color: #fff;
}

.red {
	background-color: #f00;
}

.green-light {
	background-color: #00FF66;
}

.marine {
	background-color: #37474F;
}

/* floats */
.float-right {
	float: right;
}

.float-left {
	float: left;
}

/* displays */
.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.center {
	margin: 0 auto;
	display: block;
}

/* margins */
.big-margin {
	margin: 30px 0px;
}

.bottom-margin{
	margin-bottom: 0px;
	display: block;
}

/* paddings */
.padding {
	padding: 0px 20px;
}

.big-padding {
	padding: 30px 0px;
}

.small-padding {
	padding: 5px;
}

.small-padding-left {
	padding-left: 20px;
}

.medium-padding {
	padding: 30px 0px;
}

.medium-left-padding {
	padding-left: 40px;
}

.small-padding {
	padding: 20px 0px;
}

.botton-padding {
	padding-bottom: 20px;
}

.no-padding {
	padding: 0px !important;
}

.top-space {
	padding-top: 10px;
}

.bottom-space {
	padding-bottom: 10px;
}

/* elements */
a {

	text-decoration: none;
}

.all-width {
	width: 100%;
}

.actions .mdl-button:hover {
	background-color: #37474F; 
}

.premiun:hover {
	background-color: #FFD700;
	color: white;
}

.enventa:hover {
	background-color: #00FF66;
}

.vendido:hover {
	background-color: #f00;
}